@import "tailwindcss";
@import "slick-carousel/slick/slick.css"; 
@import "slick-carousel/slick/slick-theme.css";
.slick-slide > div{
    margin: 0 8px;
}
@keyframes pulse-slow {
  0%, 100% { opacity: 0.4; transform: scale(1); }
  50% { opacity: 0.7; transform: scale(1.05); }
}

.animate-pulse-slow {
  animation: pulse-slow 3s ease-in-out infinite;
}
